body{
  font-family: 'Secular One', sans-serif;
}

.topnav{
  text-align:left;
  font-size: 15px;
  background-color: #10ffcb;
  color: #fbd87f;
  height: 60px;
}

.topnav a:hover {
  background-color: #b5f8fe;
  color: #f75590;
}

.topnav a {
  float: center;
  color: #3a506b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#logo{
  width: 55px;
  height: 55px;
  position: relative;
  top: 1px;
  width: 70px;
  height: 55px;
}


#acc_btn{
  border-radius: 20px;
  border: 2px 2px 2px 2px;
  border-color: #1c2541;
  font-weight: bold;
}

h1{
  color:#087e8b;
}

p{
  text-align: right;
}

.main{
  background-color: #b5f8fe;
}

#game_preview{
  margin-left: 100px;
  margin-top: 70px;
  width: 400px;
  height: 550px;
  border-radius: 50px;
  border: #5bc0be 3px solid;
}

.game_desc{
  margin-left:20px;
  margin-right: 300px;
  margin-bottom: 200px;
}
