.jumbo {
    background-color: #10FFCB
}

body {
    background-color: #B5F8FE;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }